@media (max-width: 768px) {
    body {
        overflow-x: hidden;

        h1 {
            font-size: 3.138rem;
        }
        h2 {
            font-size: 2.835rem;
        }
        h3 {
            font-size: 1.75;
        }
        h4 {
            font-size: 1.65;
        }
        h5 {
            font-size: 1rem;
        }
    }
    .about {
        .about-text {
            .item-img-d,
            .item-img-g {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
        }
    }

    nav {
        ul {
            position: absolute;
            right: 0px;
            height: 80vh;
            top: 4.688rem;
            //background-color: $header-color;
            background-color: $lift73-black;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            padding: 2.5rem 0;

            li {
                display: flex;
                opacity: 0;
                width: 100%;

                a {
                    flex: 1;
                    font-size: 1.25rem;
                    text-align: center;
                    color: #fff;
                    font-size: 1.75rem;
                }
                a:hover {
                    border-bottom: none;
                    color: $lift73-pink;
                }
            }

            li:nth-child(2) {
                a:hover {
                    color: $lift73-violet;
                }
            }
            li:nth-child(3) {
                a:hover {
                    color: $lift73-blue-violet;
                }
            }
            li:nth-child(4) {
                a:hover {
                    color: $lift73-blue;
                }
            }
            li:nth-child(6) {
                a:hover {
                    color: $lift73-violet;
                }
            }
        }

        .burger {
            display: block;
            padding-right: 30px;
            cursor: pointer;
        }
    }
    main {
        .container {
            padding-top: 1.875rem;
        }
    }

    .equipe {
        .equipe-cards {
            grid-template-columns: 1fr;
        }
    }

    footer {
        .container {
            background-size: 12.5rem;
        }

        li {
            &:nth-child(3) {
                width: 60%;
            }
        }
    }
}
