@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* General STYLING */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

body a {
  text-decoration: none;
  color: #333;
}

body h1,
body h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}

body p {
  margin: 10px, 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  background-color: lightblue;
  height: 75px;
  padding: 0 40px;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

nav .logo {
  max-width: 200px;
  height: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  color: #807d7d;
  padding: 5px;
  margin: 0 5px;
}

nav a:hover {
  color: #fff;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 75px;
    background-color: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  nav ul li {
    opacity: 0%;
  }
}
