@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

// Variables

$header-color: lightblue;

/* General STYLING */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;

    a {
        text-decoration: none;
        color: #333;
    }

    h1,
    h2 {
        font-weight: 600;
        line-height: 1.2;
        margin: 10px 0;
    }
    p {
        margin: 10px, 0;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
}

// NAV BAR

nav {
    background-color: $header-color;
    height: 75px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .logo {
        max-width: 175px;
        height: auto;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    a {
        color: rgb(128, 125, 125);
        padding: 5px;
        margin: 0 5px;

        &:hover {
            color: #fff;
        }
    }

    .burger {
        display: none;
        div {
            width: 25px;
            height: 3px;
            background-color: #000;
            margin: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        ul {
            position: absolute;
            right: 0px;
            height: 50vh;
            top: 75px;
            background-color: $header-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            padding: 40px 0;

            li {
                opacity: 0;
            }
        }

        .burger {
            display: block;
            padding-right: 30px;
            cursor: pointer;
        }
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
