@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Variables ******************************************************* */
/* General STYLING and Utilities ******************************************************* */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1.6;
}

body a {
  text-decoration: none;
  color: black;
}

body h1,
body h2,
body h3 {
  font-weight: bold;
  line-height: 1.2;
  margin: 10px 0;
}

body h1 {
  font-size: 85px;
}

body h2 {
  font-size: 65px;
}

body h3 {
  font-size: 36px;
}

body h5 {
  font-size: 18px;
}

body p {
  margin: 10px, 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 15px;
}

/* UTLITIES */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* NAVBAR ******************************************************* */
header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

nav {
  background-color: #fafafa;
  padding-top: 20px;
  width: 100%;
}

nav .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  max-width: 190px;
  height: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin: 0 7px;
}

nav li a:hover {
  border-bottom: 2px solid #000;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 6px;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.easy-in {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* MAIN ******************************************************* */
.main {
  background-color: #fafafa;
  color: #000;
}

.main .container {
  padding-top: 100px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(90%, 95%) 1fr;
      grid-template-columns: minmax(90%, 95%) 1fr;
}

/* ABOUT ******************************************************* */
.about {
  background-color: #ea3383;
}

.about .container {
  padding: 50px 0;
}

.about .about-tag {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 85%;
      grid-template-columns: 85%;
}

.about .about-tag h3,
.about .about-tag h5 {
  text-align: center;
}

.about .about-tag h5 {
  font-weight: normal;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

/* SERVICES ******************************************************* */
.services {
  background-color: #aa00cc;
}

.services .container {
  padding: 50px 0;
}

.services .services-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.services .services-text h2,
.services .services-text h5,
.services .services-text p {
  text-align: center;
}

.services .services-text h5 {
  width: 80%;
  margin: 0 auto;
  font-weight: normal;
  padding: 10px;
}

.services .services-text .text-bold {
  width: 40%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.services .services-blocks {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-blocks h5 {
  border: 1px #e262fc solid;
  padding: 20px;
  text-align: center;
  height: 100px;
}

/* CLIENTS ******************************************************* */
.clients {
  background-color: #5902cd;
}

.clients .container {
  padding: 50px 0;
}

.clients .clients-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.clients .clients-text h2 {
  text-align: center;
}

.clients .clients-blocks {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(100px, 180px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 180px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients .clients-blocks img {
  padding: 20px;
  max-width: 100%;
}

/* Equipe ******************************************************* */
.equipe {
  background-color: #007ec0;
}

.equipe .container {
  padding: 50px 15px;
}

.equipe .equipe-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.equipe .equipe-text h2 {
  text-align: left;
}

.equipe .equipe-cards {
  padding: 30px 0;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equipe .equipe-cards .photo {
  margin-bottom: 20px;
}

.equipe .equipe-cards h5 {
  line-height: 1.2;
}

.equipe .equipe-cards h5.title {
  font-weight: normal;
  margin-bottom: 20px;
}

.equipe .equipe-cards p {
  padding-bottom: 20px;
}

.equipe .equipe-cards .equipe-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipe .equipe-cards .equipe-card img {
  width: 250px;
}

.equipe .equipe-cards .social {
  list-style: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.equipe .equipe-cards .social img {
  width: 25px;
  margin-right: 15px;
}

/* FOOTER ******************************************************* */
footer {
  background-color: #070707;
}

footer .container {
  padding-top: 50px;
  background: #07070707 url("/assets/images/Logo_Footer@2x.png") no-repeat 95% 100%;
  background-size: 300px;
}

footer address {
  padding: 20px 0 70px 30px;
}

footer a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
}

footer li {
  list-style: none;
}

footer li:nth-child(2) {
  padding-bottom: 20px;
}

footer li:nth-child(3) {
  width: 60%;
}

/* MEDIA QUERY ******************************************************* */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body h1 {
    font-size: 55px;
  }
  body h2 {
    font-size: 42px;
  }
  body h3 {
    font-size: 28px;
  }
  body h5 {
    font-size: 16px;
  }
  .about .about-text .item-img-d,
  .about .about-text .item-img-g {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  nav ul {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 75px;
    background-color: #070707;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding: 40px 0;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    width: 100%;
  }
  nav ul li a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-size: 28px;
  }
  nav ul li a:hover {
    border-bottom: none;
    color: #ea3383;
  }
  nav ul li:nth-child(2) a:hover {
    color: #aa00cc;
  }
  nav ul li:nth-child(3) a:hover {
    color: #5902cd;
  }
  nav ul li:nth-child(4) a:hover {
    color: #007ec0;
  }
  nav ul li:nth-child(6) a:hover {
    color: #aa00cc;
  }
  nav .burger {
    display: block;
    padding-right: 30px;
    cursor: pointer;
  }
  main .container {
    padding-top: 80px;
  }
  .equipe .equipe-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .container {
    background-size: 175px;
  }
  footer li:nth-child(3) {
    width: 60%;
  }
}
