---
layout: default
title: Lift73 - Digital transformation consulting services
locale: en
description: Lift 73 offers digital transformation consulting services that help local businesses capitalize on the opportunities presented by change through the intelligent use of technology.
---

<main class="main">
    <div class="container">
        <div class="main-text">
            <h1>Digital transformation consulting services</h1>
        </div>
    </div>
</main>

<section class="about" id="about">
    <div class="container">
        <div class="about-tag">
            <h4>
                We help local businesses capitalize on the opportunities presented by change through the intelligent use
                of technology.
            </h4>
            <h5>
                We are curious, open-minded and action-oriented people who enjoy solving complex problems. Our team is
                composed of business people with a wealth of experience in technology, sales, management and
                communications.
            </h5>
            <h5>
                Over the past 20 years, we have built a solid network of partners in a wide range of industries. We use
                our expertise and resources to assist managers who want to quickly generate tangible results.
            </h5>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="container">
        <div class="services-text">
            <div class="services-title">
                <h2>Services</h2>
            </div>
            <h5>
                We advise our clients on the best ways to use technology as a competitive advantage. We help businesses
                select, configure and effectively use the right technological tools. This also includes finding
                technology partners and recruiting and training human resources.
            </h5>
            <h5 class="text-bold">Our contribution addresses different aspects of the digital transformation:</h5>
        </div>
        <div class="services-blocks">
            <div class="service-block">
                <h5>Business and technology strategy</h5>
            </div>
            <div class="service-block">
                <h5>E-commerce optimization</h5>
            </div>
            <div class="service-block">
                <h5>Technology audit</h5>
            </div>
            <div class="service-block">
                <h5>Technology platform selection</h5>
            </div>
            <div class="service-block">
                <h5>Technical team evaluation and training</h5>
            </div>
            <div class="service-block">
                <h5>Coaching Agile</h5>
            </div>
            <div class="service-block">
                <h5>Supplier evaluation and selection</h5>
            </div>
            <div class="service-block">
                <h5>Executive coaching</h5>
            </div>
        </div>
    </div>
</section>

<section class="clients" id="clients">
    <div class="container">
        <div class="clients-text">
            <div class="clients-title">
                <h2>Clients</h2>
            </div>
        </div>
        <div class="clients-blocks">
            {% assign lg = page.locale %} {% for logo in site.data[lg].logo_clients %}
            <div class="client-block">
                <img src="/assets/images/clients/{{ logo.img }}" alt="{{ logo.name }}" />
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="equipe" id="team">
    <div class="container">
        <div class="equipe-text">
            <div class="equipe-title">
                <h2>Team</h2>
            </div>
        </div>
        <div class="equipe-cards">
            {% assign lg = page.locale %} {% for person in site.data[lg].equipe %}
            <div class="equipe-card">
                <img class="photo" src="/assets/images/equipe/{{ person.pic }}" alt="{{ person.name }} picture" />
                <h5>{{ person.name }}</h5>
                <h5 class="title">{{ person.title }}</h5>
                <p>{{ person.text1 }}</p>
                <p>{{ person.text2 }}</p>
                <ul class="social flex">
                    <li>
                        <a href="mailto:{{ person.email }}"> <img src="/assets/images/email@2x.png" alt="Email" /></a>
                    </li>
                    <li>
                        <a href="{{ person.linkedin }}" target="_blank">
                            <img src="/assets/images/link@2x.png" alt="LinkedIn"
                        /></a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
