---
layout: default
title: Lift73 - Services-conseils en transformation numérique
locale: fr
description: Lift 73 offre des services-conseils en transformation numérique qui aident les entreprises d’ici à tirer profit des possibilités liées au changement par une utilisation intelligente de la technologie.
---

<main class="main">
    <div class="container">
        <div class="main-text">
            <h1>Services-conseils en transformation numérique</h1>
        </div>
    </div>
</main>

<section class="about" id="about">
    <div class="container">
        <div class="about-tag">
            <h3>
                Nous aidons les entreprises d’ici à tirer profit des possibilités liées au changement par une
                utilisation intelligente de la technologie.
            </h3>
            <h5>
                Nous sommes des gens d’action curieux et ouverts d’esprit qui aiment régler des problèmes complexes.
                Notre équipe se compose de gens d’affaires possédant une riche expérience en technologie, vente, gestion
                et communications.
            </h5>
            <h5>
                Au cours des 20 dernières années, nous avons bâti un solide réseau de collaborateurs dans une vaste
                gamme de secteurs d’activité.Nous mettons notre expertise et nos ressources au service de gestionnaires
                qui souhaitent générer rapidement des résultats concrets.
            </h5>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="container">
        <div class="services-text">
            <div class="services-title">
                <h2>Services</h2>
            </div>
            <h5>
                Nous conseillons nos clients sur les meilleures façons d’utiliser la technologie comme avantage
                concurrentiel. Nous aidons les entreprises à choisir, à configurer et à utiliser efficacement les bons
                outils technologiques. Cela comprend également la recherche de partenaires technologiques ainsi que le
                recrutement et la formation de ressources humaines.
            </h5>
            <h5 class="text-bold">Notre contribution touche différents aspects de la transformation numérique</h5>
        </div>
        <div class="services-blocks">
            <div class="service-block">
                <h5>Stratégie d’affaires et technologique</h5>
            </div>
            <div class="service-block">
                <h5>Optimisation du commerce électronique</h5>
            </div>
            <div class="service-block">
                <h5>Audit technologique</h5>
            </div>
            <div class="service-block">
                <h5>Sélection de plateformes technologiques</h5>
            </div>
            <div class="service-block">
                <h5>Évaluation et encadrement d’équipes techniques</h5>
            </div>
            <div class="service-block">
                <h5>Évaluation et sélection de fournisseurs</h5>
            </div>
            <div class="service-block">
                <h5>Coaching de dirigeants</h5>
            </div>
        </div>
    </div>
</section>

<section class="clients" id="clients">
    <div class="container">
        <div class="clients-text">
            <div class="clients-title">
                <h2>Clients</h2>
            </div>
        </div>
        <div class="clients-blocks">
            {% assign lg = page.locale %} {% for logo in site.data[lg].logo_clients %}
            <div class="client-block">
                <img src="/assets/images/clients/{{ logo.img }}" alt="{{ logo.name }}" />
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="equipe" id="team">
    <div class="container">
        <div class="equipe-text">
            <div class="equipe-title">
                <h2>Équipe</h2>
            </div>
        </div>
        <div class="equipe-cards">
            {% assign lg = page.locale %} {% for person in site.data[lg].equipe %}
            <div class="equipe-card">
                <img class="photo" src="/assets/images/equipe/{{ person.pic }}" alt="{{ person.name }} picture" />
                <h5>{{ person.name }}</h5>
                <h5 class="title">{{ person.title }}</h5>
                <p>{{ person.text1 }}</p>
                <p>{{ person.text2 }}</p>
                <ul class="social flex">
                    <li>
                        <a href="mailto:{{ person.email }}"> <img src="/assets/images/email@2x.png" alt="Email" /></a>
                    </li>
                    <li>
                        <a href="{{ person.linkedin }}" target="_blank">
                            <img src="/assets/images/link@2x.png" alt="LinkedIn"
                        /></a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
