<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="title"><h2>Contact</h2></div>
        <address>
            <ul>
                {% assign lg = page.locale %} {% for contact in site.data[lg].contact %}
                <li><a href="tel:{{ contact.tel_link }}" class="phone_number">{{ contact.tel }}</a></li>
                <li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                <li>
                    <a href="{{ contact.address_link }}" target="_blank">{{ contact.address }}</a>
                </li>
                {% endfor %}
            </ul>
        </address>
    </div>
</footer>
