<!-- Navigation -->
<header>
    <nav>
        <div class="container flex">
            <a href="#page-top"><img class="logo" src="/assets/images/Logo_header@2x.png" alt="Lift73 Logo" /></a>
            <ul class="nav-links">
                {% assign lg = page.locale%} {% for item in site.data.[lg].navigation%}
                <li>
                    <a href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
</header>
